/* 改变主题色变量 */
$--color-primary: #C5D01A;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '../../../node_modules/element-ui/lib/theme-chalk/fonts';

@import "../../../node_modules/element-ui/packages/theme-chalk/src/index";

body{
    font-size: 28px !important;
}
.el-button{
    &.long{
        width: 600px;
        height: 78px;
    }
    &.medium{
        width: 420px;
        height: 68px;
    }
    &.is-round{
        border-radius: 78px;
    }
}
.el-header{
    height: 88px !important;
    background: url(../imgs/header-bg.png) no-repeat;
    background-size: 640px auto;
    overflow: hidden;
    width: 100%;
}